{% extends 'base.html' %}


{% block main %}

{% if user.is_authenticated and not next %}

You are logged in 

{% else %}




<form class="form-signin" method="post" action="{% url 'members:login' %}">
    <h4 class="form-signin-heading">
        {% if form.errors %}
        <p>Your email and password didn't match. Please try again.</p>

        {% endif %}
    </h4>
    {% csrf_token %}
    <label for="{{form.username.id_for_label}}" class="sr-only">Email address</label><input id="{{form.username.id_for_label}}" class="form-control" name="username" type="text" placeholder="Email address" required autofocus/>
    <p>
    <p>
    <label for="{{form.password.id_for_label}}" class="sr-only">Password</label><input id="{{form.username.id_for_label}}" class="form-control" name="password" type="password" placeholder="Password" required/>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"/>Remember me (NOT IMPLEMENTED)
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
                                        {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'members:password_reset' %}">Lost password?</a></p>


{% endif %}

{% endblock %}
