
/* styling for the problem list */

.panel-heading {
    cursor: pointer;
    border-radius:5px;
    padding:0px;
}

.panel-title {
}


.problem-grade {
    max-width:30px;
}

.problem-sector {
}

.problem-list{
}

.problem-list-header-row {
    font-weight:900;
}



.problem-list-item {
    cursor:pointer;
}

.problem-info-sign {
    font-size:20px;
}

.problem-member-checkmark {
    color:#0d0;
    font-size:large;
}

