body {
    padding-top: 20px;
}
.starter-template {
    padding: 50px 15px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* styling for the problem list */

.panel-heading {
    cursor: pointer;
    border-radius:5px;
    padding:0px;
}

.panel-title {
}

.problem-grade {
    display:inline-block;
    padding:8px;
    border-radius:3px 0px 0px 3px;
    width: 45px;
    background-color:#fff;
}

.problem-heading {
    display:inline-block;
}



