
{% extends "base.html" %}

{% load static %}

{% block main %}


<div class="container">
    <h3>{{area.name}}</h3>
    {% if True %}
    <a href="{% url "guide:submit"%}?type={{area.area_type}}&area={{area.id}}" class="btn btn-primary" role="button">Submit a new problem for this area</a>
    {% elif False %}
    <a href="{% url "login"%}?next={{ request.path }}" class="btn btn-primary" role="button">Login to submit a new problem for this area</a>
    
    {% endif %}
    <p>

    <table class="table problem-list">
        <tr>
            <td class="col-md-1"><a href="{{request.path}}?order_by=grade">Grade</a></td>
            <td class="col-md-1"><a href="{{request.path}}?order_by=sector">Sector</a></td>
            {% if area.area_type == 'artificial' %}
            <td class="col-md-1"><a href="{{request.path}}?order_by=artificialproblem__holds">Holds</a></td>
            {% else %}
            <td class="col-md-1"><a href="{{request.path}}?order_by=naturalproblem__name">Name</a></td>
            {% endif %}
        </tr>
        {% for prob in prob_list %}
        <tr data-toggle="collapse" data-target="#collapse{{prob.id}}" class="accordion-toggle problem-list-item">
            <td class="col-md-1 problem-grade" data="{{prob.grade}}"><div >{{prob.grade}}</div></td>
            <td class="col-md-4">{{prob.sector.name}}</td>
            <td class="col-md-7">
                {% if prob.artificialproblem %}
                {{prob.artificialproblem.holds}}
                {% elif prob.naturalproblem %}
                {{prob.naturalproblem.name}}
                {% else %}
                {%endif%}
            </td>
        </tr>
        <tr id="collapse{{prob.id}}" class="accordion-body collapse">
            <td colspan="3">{{prob.description}} <a href="{% url "guide:problem" prob.id %}"><span class="glyphicon glyphicon-info-sign problem-info-sign"></span></a></td>
        </tr>
        {% endfor %}
    </table>

</div>


<script src="{% static "js/area.js" %}"></script>

{% endblock %}



