{% extends 'base.html' %}



{% load static %}

{% block main %}


<div class="container">

    <table class="table problem-list">
        <tr class="problem-list-header-row">
            <td class="col-md-1"><a href="{{request.path}}?order_by={% if ob == "grade" %}-{% endif %}grade">Grade</a></td>
            <td class="col-md-1"><a href="{{request.path}}?order_by={% if ob == "sector" %}-{% endif %}sector">Sector</a></td>
            <td class="col-md-1"><a href="{{request.path}}?order_by={% if ob == "artificialproblem__holds" %}-{% endif %}artificialproblem__holds">Holds</a></td>
        </tr>
        {% for prob in artificialproblem_list %}
        <tr data-toggle="collapse" data-target="#collapse{{prob.id}}" class="accordion-toggle problem-list-item">
            <td class="col-md-1 problem-grade" data="{{prob.grade}}"><div >{{prob.grade}}</div></td>
            <td class="col-md-4">{{prob.sector.name}}</td>
            <td class="col-md-7"> {{prob.holds}} </td>
        </tr>
        <tr id="collapse{{prob.id}}" class="accordion-body collapse">
            <td colspan="3">{{prob.description}} <a href="{% url "guide:problem" prob.id %}"><span class="glyphicon glyphicon-info-sign problem-info-sign"></span></a></td>
        </tr>
        {% endfor %}
    </table>

</div>


<script src="{% static "js/area.js" %}"></script>


{% endblock %}
