{% extends 'base.html' %}

{% load static %}



{% block main %}


<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<!--<script src="{% static 'js/imageMapResizer.min.js' %}"></script>-->
<script src="{% static 'js/jquery.imagemapster.js' %}"></script>


<h3>{{area.name}}</h3>
<p>
<a class="btn btn-primary" href="{% url 'guide:area' area.id %}">All problems in this area</a>

<p>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#commentsModal" >Recent comments ({{ recently_discussed | length }})</button>
<div class="modal fade" id="commentsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recently commented problems</h4>
            </div>
            <div class="modal-body">
                <p>
                {% for pc in problems_with_last_comment %}
                <p>
                <a href="{% url 'guide:problem' pc.0.id %}">Problem {{pc.0.id}}</a> Most recent by {{pc.1.member.user.first_name}}
                </p>
                {% endfor %}


                </p> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>





<p>
{{area.description}}


{% if area.areaimage_set.all.1 %}
<h3>Interactive Map of Sectors: Click on a Sector</h3>
{% else %}
<h4>Map of Sectors</h4>
{% endif %}



    {% for ai in area.areaimage_set.all %}
    <img width="100%" src ="{{ai.image_file.url}}" {% if ai.imagemap %}usemap="#imagemap{{ai.id}}"{% endif %}/><map name="imagemap{{ai.id}}">
        {{ ai.imagemapcode | safe }}
    </map>

    {% endfor %}


<script>
$('img').mapster('resize',
        function () {
            return this.width
        });
$('img').mapster({
    stroke: true,
    render_highlight: {
        strokeWidth: 1,
        fade: false
    },
    fillColor:'555555',
    strokeColor:'555555',
    fillOpacity: 0.5,
    clickNavigate:true,

});



</script>

{% endblock %}
