{% extends 'base.html' %}

{% load static %}



{% block main %}


<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<!--<script src="{% static 'js/imageMapResizer.min.js' %}"></script>-->
<script src="{% static 'js/jquery.imagemapster.js' %}"></script>


<h3>{{area.name}}</h3>
<p>
<a class="btn btn-primary" href="{% url 'guide:area' area.id %}">All problems in this area</a>


<p>
{{area.description}}


{% if area.areaimage_set.all.1 %}
<h3>Interactive Map of Sectors: Click on a Sector</h3>
{% else %}
<h4>Map of Sectors</h4>
{% endif %}



    {% for ai in area.areaimage_set.all %}
    <img width="100%" src ="{{ai.image_file.url}}" {% if ai.imagemap %}usemap="#imagemap{{ai.id}}"{% endif %}/><map name="imagemap{{ai.id}}">
        {{ ai.imagemapcode | safe }}
    </map>

    {% endfor %}


<script>
$('img').mapster('resize',
        function () {
            return this.width
        });
$('img').mapster({
    stroke: true,
    render_highlight: {
        strokeWidth: 1,
        fade: false
    },
    fillColor:'555555',
    strokeColor:'555555',
    fillOpacity: 0.5,
    clickNavigate:true,

});



</script>

{% endblock %}
