{% extends "base.html" %}

{% load static %}

{% block main %}






{% if request.user.member %}

<h3>Done?</h3>


<script src="{% static "js/problem.js" %}">
</script>
<p class="status-element">
{% if request.user.member in problem.done_by.all %}<span class="glyphicon glyphicon-ok problem-member-checkmark"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{%endif %}
</p>
<span class="btn btn-primary"  onclick="toggleStatus({{request.user.id}},{{problem.id}})">Change this</span>

{% endif %}


<h3>Problem Info</h3>
{% if problem.artificialproblem %}
<dl>
    <dt>Holds</dt>
    <dd>{{problem.artificialproblem.holds}}</dd>
    <dt>Description</dt>
    <dd>{{problem.description}}</dd>
    <dt>Grade</dt> 
    <dd>{{problem.grade}}</dd>
    <dt>Date</dt>
    <dd>{{problem.artificialproblem.date}}</dd>
    <dt>Setter</dt>
    <dd>{{problem.artificialproblem.setter}}</dd>
</dl>
{% elif problem.naturalproblem %}
<dl>
    <dt>Name</dt>
    <dd>{{problem.naturalproblem.name}}</dd>
    <dt>Description</dt>
    <dd>{{problem.description}}</dd>
    <dt>Grade</dt> 
    <dd>{{problem.grade}}</dd>
    <dt>Rock Type</dt>
    <dd>{{problem.naturalproblem.rock_type}}</dd>
    <dt>First Ascensionist</dt>
    <dd>{{problem.naturalproblem.first_ascensionist}}</dd>
</dl>
{%else %}
{{ problem.description }}
{% endif %}



<h3>Pictures</h3>

{% if problem.pictures %}

{{ problem.pictures }}

{% else %}

No pictures have been posted for this problem

{% endif %}

<h3>Comments</h3>

{% if problem.comment_set.all.count > 0 %}

{% for v in problem.comment_set.all %}
<p><strong>{{v.member.user.get_full_name}}:</strong> {{v.text }}


{% endfor %}

{% else %}

No comments

{% endif %}

{% if request.user.member %}


<form method="post">

    {% csrf_token %}

{{ commentform.text }}
<p>
<input type="hidden" name="post-type" value="comment"/>
<input type="submit" class="btn btn-primary" value="Post"/>


</form>

{% else %}

<p>Log in to comment on this problem.

{% endif %}



<h3>Videos</h3>

{% if problem.problemvideo_set.all.count > 0 %}

{% for v in problem.problemvideo_set.all %}

<p>Posted at 
<p>{{v.embed_code | safe }}


{% endfor %}

{% else %}

No videos have been posted for this problem

{% endif %}

{% if request.user.member %}

<p> To post a video for this problem, copy/paste the embed code into the form below

<form method="post">

    {% csrf_token %}

{{ videoform.embed_code }}
<p>
<p>
<input type="hidden" name="post-type" value="video"/>
<input type="submit" class="btn btn-primary" value="Post"/>

</form>

{% else %}

<p>Log in to post a video for this problem.

{% endif %}



{% endblock %}
