{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block main %}

{% if submission_accepted %}

The problem has been flagged and will not be visible to users until the issue has been dealt with 

<p>
<a class="btn btn-primary" href="{% url "guide:area" problem.area.id %}">Continue</a>



{% else %}

<h3>Flag an issue with this problem</h3>
<strong>
    Flagging a problem hides the problem description from ALL users until the issue is addressed. It should only be used for major issues. For minor issues (e.g. you disagree with the grade) use the comment box on the problem page to discuss. 
</strong>

<p>
<form method="post">

{% csrf_token %}

{{ form | crispy }}

<p>
<strong>
Are you sure?
</strong>
<p>
<a class="btn btn-primary" href="{% url "guide:problem" problem_id %}">Cancel</a>
<p>
<input type="submit" class = "btn btn-danger" value="Flag this problem">

</form>


{% endif %}





{% endblock %}


