
{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block main %}




{{form.media}}

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <strong style="color:red;">
    {{ form.errors }}
    </strong>

    {{ form | crispy }}

<h3>Images for this problem</h3>
<p>If you like, you can add some images to the problem description. This may help to easily 
identify the problem and will also help us to easily identify which problems are no longer
current.
<p>
{{ fs|crispy }}


<input type="hidden" name="problem_type" value = "{{problem_type}}"/>

<p>
<input type="submit" class = "btn btn-primary" value="Save this problem">
</form>

{% endblock %}
