
{% extends "guide/base_problem_list.html" %}

{% load static %}

{% block main %}


    <h3>{{area.name}}: {{sector.name}}</h3>
    <a class="btn btn-primary" id="info-button" href ="{% url 'guide:area_map' area.id %}">Area info and map</a>
    <a href="{% url "guide:submit" area.area_type %}?area={{area.id}}&sector={{sector.id}}&set_by={{request.user.member.id}}&date={% now "Y-m-d" %}" class="btn btn-primary" role="button">Submit a new problem for this sector</a>
    


    {{ block.super }}


{% endblock %}



