{% extends "base.html" %}
{% load i18n %}


{% block main %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post" class="form-signin">{% csrf_token %}
{{ form.new_password1.errors }}
<p><label for="id_new_password1" class="sr-only">{% trans 'New password:' %}</label> <input id="{{ form.new_password1.id_for_label }}" class="form-control" name="new_password1" type="password" placeholder="New password" required/>
{{ form.new_password2.errors }}
<p><label for="id_new_password2" class="sr-only">{% trans 'New password again:' %}</label> <input id="{{ form.new_password2.id_for_label }}" class="form-control" name="new_password2" type="password" placeholder="Confirm password" required/>
<p><input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary btn-block"/></p>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
