{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block main %}

<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>
If you don't receive an email within a few minutes the most likely reasons (in decreasing order of likelihood are
<ul>
    <li> Your email address is not registered with the co-op</li>
    <li> The message has been diverted to your span folder </li>
    <li> Something else ... </li>
</ul>
If you are completely sure that its not one of the first two reasons above, then contact the administrator of this website. If you don't know who that is, ask someone at the co-op next time you are there.

        
</p>

{% endblock %}
